<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a href="#" class="navbar-brand">Dashboard</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse" *ngIf="user">
      <div class="navbar-nav">
          <a href="/" class="nav-item nav-link active">Home</a>
      </div>
      <div class="navbar-nav ml-auto">
          <a href="#" class="nav-item nav-link" (click)="logout()">Logout</a>
      </div>
  </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
  <alert></alert>
  <router-outlet></router-outlet>
</div>